body{
	margin: 0;
	padding: 0;
	background-image: url('pics/winners.jpg');
	background-size:cover;
	background-position:center;
	
}
#topnav {
  background-color: black;
  overflow: hidden;
   margin-top: -10px; 
    margin-left: -10px;  
	
}

#topnav a {
  float: left;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 30px 16px;
  text-decoration: none;
  font-size: 17px; 
   
}
.loginbox{
	width: 320px;
	height:420px;
	background: #000;
	color:#fff;
	top: 50%;
	left:50%;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
}
.icon
{
	width: 110px;
	margin-left: 35%;
	margin-top: 10px;
	position:absolute;
}

.logo{
width: 70px;
position: relative;
margin-left: 42%;
	margin-top: 46px
}

.123 {
	background-color: black;
	color: white
}
button{
  margin-left: 60px;
  border: none;
  color: black;
  padding: 10px 75px;
  text-align: center;
  font-size: 16px;
}

.loginBox input[type="email"],
.loginBox input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
    margin-left: 60px;
}
.sign{
	color:#0072ce;
	margin-left: 30px;
}
